@page
@model AdministrationModel
@{
    ViewData["Titlr"] = "Administration";
}
<div class="row">
    <div class="col 12 col-sm-6 col-lg-4">
        <div class="card-deck">
            <div class="card m-3">
                <img class="card-img-top imageStile" src="/images/lis.jpeg" asp-append-version=true>
                <div class="text-center">
                    <a asp-page="Creating" class="btn bs-tooltip-start">Добавление нового рецепта</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col 12 col-sm-6 col-lg-4">
    <div class="card-deck">
        <div class="card m-3">
            <img class="card-img-top imageStile" src="/images/salt.jpeg" asp-append-version=true>
            <div class="text-center">
                <a asp-page="Creating" class="btn bs-tooltip-start">Просмотр и изменения меню</a>
            </div>
        </div>
    </div>
       < div class="col 12 col-sm-6 col-lg-4">
        <div class="card-deck">
            <div class="card m-3">
                <img class="card-img-top imageStile" src="/images/povar.jpg" asp-append-version=true>
                <div class="text-center">
                    <a asp-page="Creating" class="btn bs-tooltip-start">Инвентаризация</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>