@page
@model AdministrationModel
@{
    ViewData["Titlr"] = "Administration";
}
<div class="row">
    <div class="col 12 col-sm-6 col-lg-4">
        <div class="card-deck">

        </div>
    </div>
</div>