@page 
@model FirstWebApp.Pages.RecipePagesModel
@{
    ViewData["Title"] = "Recipe";
}

<h1>@ViewData["Title"]</h1>

<h1>Добавление нового рецепта</h1>


    <h2>Введите рецепт</h2>
    <div class="row">
    <form method="post">
        <div class="form input-group row ">
            <h3>Введите название</h3>
            <input asp-for =inputRecipe.name/>
        </div>
        <div class="row text-center">
            <h3>Добавьте изображение</h3>
            <input asp-for=inputRecipe.File class="form-control custom-file-input" />
            <label class="custom-file-input text-left ">Жми</label>
        </div>
    </form>
    </div>
   
    <h2>Далее небходимо добавить ингредиены</h2>
    <div class="row">
           <a asp-page="/AddIngredient" class="btn btn-link" asp asp-route-rName=@Model.createdRecipe.Name>Добавить ингредиенты</a>
        <a asp-page="/AddIngredient" class="btn btn-link" asp asp-route-rName=@Model.createdRecipe.Name>Добавить топинги</a>
    </div>
  
    
    
