@page 
@model FirstWebApp.Pages.RecipePagesModel
@{
    ViewData["Title"] = "Recipe";
}

<h1>@ViewData["Title"]</h1>

<h1>Добавление нового рецепта</h1>


    <p> Введите название рецепта</p>
    <div class="div>
   
    
    <div class="row">
           <a asp-page="/AddIngredient" class="btn btn-link" asp asp-route-rName=@Model.createdRecipe.Name>Добавить ингредиенты</a>
        <a asp-page="/AddIngredient" class="btn btn-link" asp asp-route-rName=@Model.createdRecipe.Name>Добавить топинги</a>
    </div>
  
    
    
