@page
@model FirstWebApp.Pages.RecipePagesModel
@{
    ViewData["Title"] = "Recipe";
}

<h1>@ViewData["Title"]</h1>

<h2>Добавление нового рецепта</h2>

<div>
    <p> Введите название рецепта</p>
    <form method="post">
        <input type="text"name="name" />
        <input type="text"name="img" />
        <input type="submit" value="отправить" />
    </form>
    
</div>
